body{
    background-color:bisque;
}

.container-card{
    margin-top: 10px;
    width: 80%;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.card-notes{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2px;
    background-color: white;
    width: 100%;
    padding: 2px 10px;
    border-radius: 8px;
   box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
            0 4px 6px -4px rgba(0, 0, 0, 0.1);
}
.card-notes h3{
    font-family: Arial, Helvetica, sans-serif;
}

.input:focus{
    outline: none;
}

.content-notes{
    display: flex;
}